# Dependencies
node_modules
.pnpm-store

# Build artifacts
dist
build
.react-router

# Test artifacts
coverage
playwright-report
test-results

# Env
.env
.env.local
.env.*.local
!.env.example

# Editor
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
